[flake8]

max-imports = 16
max-awaits = 8
max-local-variables = 10


allowed-domain-names =
    i
    pos
    value


exclude =
    syngrapha/infrastructure/persistence/migrations/**


ignore =
    WPS430
    # i like nested functions

    W503
    # Some strange thing that cannot be fixed:
    # return (
    #     abs(self_time - other_time) < _TRANSACTION_EQ_DELTA_S
    #     and self.cost == other.cost
    # )


per-file-ignores =
    syngrapha/infrastructure/persistence/database.py: WPS432
    syngrapha/infrastructure/persistence/models.py: WPS432
    syngrapha/config.py: WPS432
    # These are configs by themselves

    syngrapha/bootstrap/app.py: WPS201
    # Bootstrap module will have a lot of imports anyway

    syngrapha/infrastructure/persistence/transaction_gw.py: WPS201
    # Legit use of many imports

    syngrapha/presentation/http/controllers/__init__.py: WPS412
    # I like to group route handlers in a constant

    syngrapha/bootstrap/di/**: WPS347
    # from_context is good
